.page {
  margin: 0;
  padding: 40px 20px; 
  
  text-align: center;
}

.page__title {
  font-family: "Inter", sans-serif;
  font-weight: 500;
  font-size: 38px;
  color: var(--black);
}

.page__histogram {
  width: 354px;
  margin: 0 auto;  
}
