.page {
  margin: 0;
  padding: 0;
}

.form { 
  width: 300px;
  margin: 0 auto;
}

.form__title {
  font-family: Inter;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 18px; 

  letter-spacing: 0.04em;
  text-transform: uppercase; 

  color: var(--grey-3);
}

.form__fieldset {  
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  border: none; 
}

.form__radio {
  margin-bottom: 16px;
}



