.page {
  margin: 0;
  padding: 0;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.page__radio {
  min-width: 200px;
  margin-bottom: 40px;
}



