.calendar {
    position: relative;
    max-width: 304px;
    width: 100%;
}

.calendar_preview {
    max-width: 200px;
    width: 200px;
    min-width: 75px;
}

.calendar__border {
    width: 100%;
    padding-bottom: 115%;

    background: var(--white);

    border: 1px solid var(--grey-3);
    box-sizing: border-box;
    border-radius: 8px;
}

.calendar__body-wrapper {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 8%;
}

.calendar_preview .calendar__item {
    font-size: 9px;
}

.calendar_preview .calendar__title {
    font-size: 14px;
}

.calendar__title {
    margin-bottom: 9%;

    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;

    color: var(--blue-4);
    text-align: center;
}

.calendar__wrapper {
    position: relative;
    width: 100%;
    padding-bottom: 100%;
}

.calendar__inner {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: grid;
    grid-template-columns: repeat(7, 1fr);
}

.calendar__item {
    display: flex;
    justify-content: center;
    align-items: center;

    font-family: 'Source Sans Pro', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    color: var(--blue-4);
}

.calendar__item_day {
    font-family: 'Inter', sans-serif;
    font-size: 14px;
    line-height: 20px;
    color: var(--grey-8);
}

.calendar__item_range {
    background-color: rgba(var(--blue-5), 0.2);
}

.calendar__item_range-border {
    color: var(--white);
    background-color: var(--blue-2);
}
