.page {
  margin: 0;
  padding: 0; 
}

.page__title {
  font-family: 'Inter', sans-serif;
  text-align: center; 
  font-weight: 500;
  font-size: 38px;
  color: var(--black);
}

.page__skeleton {
  margin: 0 auto;  
  width: 579px;
}
