.button {
    display: inline-block;
    padding: 15px 16px 14px;
    border-radius: 8px;
    border: none;
    outline: none;

    @include text(16px, 19px, 500);
    font-style: normal;
    text-align: center;
    box-sizing: border-box;
    cursor: pointer;

    &[disabled] {
        opacity: 0.5;
        cursor: default;
    }

    &_full-width {
        width: 100%;
    }

    &_primary {
        color: var(--button-color);
        background-color: var(--primary);

        &:hover:not(.button[disabled]) {
            background-color: var(--primary-hover);
        }
    }

    &_secondary {
        color: var(--button-color);
        background-color: var(--secondary);

        &:hover:not(.button[disabled]) {
            background-color: var(--psecondary-hover);
        }
    }

    &_alternate {
        color: var(--button-alternate-color);
        background-color: var(--alternate);
        border: 1px solid var(--alternate-border);

        &:hover:not(.button[disabled]) {
            border-color: var(--alternate-border-hover);
        }
    }
}
