.calendar {
    position: relative;
    max-width: 304px;
    width: 100%;
    border: 1px solid var(--grey-3);

    &__title {
        padding-top: 1em;
        @include text(20px, 1.2, 600, var(--blue-4));
        @include font();
        font-style: normal;
        text-align: center;
    }

    &__wrapper {
        position: relative;
        width: 100%;
        padding-bottom: 100%;
    }

    &__inner {
        position: absolute;

        @include position(0, 0, 0, 0);
        display: grid;
        grid-template-columns: repeat(7, 1fr);
        padding: 5%;
    }

    &__item {
        display: flex;
        justify-content: center;
        align-items: center;

        @include text(20px, 1.15, 400, var(--blue-4));
        @include font('Source Sans Pro');
        font-style: normal;

        &_day {
            @include text(14px, 1.4, 400, var(--grey-8));
        }

        &_range {
            background-color: rgba(var(--blue-5), 0.2);
        }

        &_range-border {
            color: var(--main-bgc);
            background-color: var(--blue-2);
        }
    }

    &_preview {
        max-width: 200px;
        width: 200px;
        min-width: 75px;

        .calendar__item {
            font-size: 9px;
        }

        .calendar__title { 
            font-size: 14px;
        }
    }
}
