.content {
    padding: 32px 0 64px;
    border-radius: 0.5rem;
    background-color: var(--main-bgc);
    box-sizing: border-box;
    overflow: hidden;

    &__container {
        padding: 0 16px;
        box-sizing: border-box;
    }

    &__title {
        margin: 0 0 20px;

        @include font();
        @include text(20px, 26px, 400, var(--grey-4));
        font-style: normal;
    }

    &__component {
        width: 100%;
        margin-bottom: 64px;
        box-sizing: border-box;
    }

    &__component_tooltip {
        padding-left: 100px;
    }

    &__tabs {
        width: 100%;
        max-width: 100%;
        margin: 0 auto;
    }

    &__tabs-nav {
        padding-left: 46px;
    }

    &__code {
        display: none;
        max-width: 677px;
        overflow: auto;
    }

    &__code pre {
        margin: 0;
    }
}

@media screen and (min-width: 768px) {
    .content {
        &__container {
            padding: 0 106px 0 46px;
        }

        &__title {
            margin: 0 0 58px;

            @include text(28px, 38px);
        }
    }
}
