.header {
    &__wrapper {
        padding: 25px 0 40px;
    }

    &__top {
        display: flex;
        align-items: center;
        margin-bottom: 49px;
    }

    &__top_inner {
        margin-bottom: 22px;
    }

    &__logo-link {
        width: auto;
        margin: 0 auto;
    }

    &__navigation {
        display: none;
    }

    &__togglers {
        display: none;
    }

    &__title {
        margin: 0;
        font-size: 28px;
        line-height: 38px;
        font-weight: 400;
    }

    &__logo-icon {
        @include size(110px, 32px);
        color: var(--logo-color);
    }
}
@media screen and (min-width: 768px) {
    .header {
        &__top {
            margin-bottom: 40px;
        }

        &__logo-link {
            margin: 0 auto 0 0;
        }

        &__navigation {
            display: block;
            width: auto;
            margin-right: 57px;
        }

        &__togglers {
            display: flex;
            justify-content: space-between;
            align-items: center;
            width: 124px;
            margin: 0;
        }

        &__title {
            margin: 0;
            font-size: 50px;
            line-height: 64px;
            font-weight: 500;
        }

        &__toggler {
            margin: 0;
        }

        &__toggler-icon {
            &_sun {
                @include size(24px);
                color: var(--font-color);
            }

            &_moon {
                @include size(20px);
                color: var(--grey-3);
            }
        }
    }
}
