.navigation {
    &__list {
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-end;
        margin: 0;
    }

    &__item {
        @include reset-list();

        &:not(:last-child) {
            margin-right: 24px;
        }
    }

    &__link {
        display: inline-block;
        text-decoration: none;
        color: var(--font-second-color);
        box-sizing: border-box;

        &:hover,
        &:active {
            color: var(--active-text-color);
        }

        &_active {
            color: var(--active-text-color);
        }
    }
}
