.page {
    background-color: var(--main-bgc);
    color: var(--font-color);
    font-style: normal;
    font-weight: 400;

    &__box {
        min-width: 375px;
        margin: 0 auto;
        padding: 0 15px 0 16px;
        box-sizing: border-box;
    }

    &_template {
        background-color: var(--main-content-bgc);
    }
}

@media screen and (min-width: 768px) {
    .page {
        &__box {
            max-width: 1110px;
        }
    }
}
