html,
body {
  margin: 0;
  padding: 0;
}

.page {
  background-color: var(--white);
  
  color: var(--black);  font-style: normal;
  font-weight: 500;
  
  &__box {
      max-width: 1110px;
      margin: 0 auto;
      padding: 0 16px;
  }

  &_template {  
    background-color: var(--blue-6);
  }

  &__main input { 
    opacity: 1;
    @include size(1px);
    pointer-events: none;
    position: absolute; 
  }
}
