.tooltip {
    position: relative;
    display: inline-block;
    transform: translateY(40px);


    &__menu {
        width: 130px;
        min-height: 45px;
        padding: 13px 21px 8px; 
        opacity: 0;
        position: absolute;

        @include position(-8px, 50%);
        transform: translate(-50%, -100%);
        background-color: var(--blue-2);
        box-shadow: 0 2px 4px rgba(33, 36, 41, .05);
        border-radius: 10px;
        box-sizing: border-box;


        &::after {
            content: "";
            border: 14px solid transparent;
            border-top: 6px solid var(--blue-2);
            position: absolute;

            @include position(55%, 50%);
            transform: translate(-50%, 100%);
        }
    }

    &__text {
        margin: 0;

        @include font();
        @include text(16px, 24px, 400, var(--grey-2));
        font-style: normal;
        text-align: center;
        pointer-events: none;
    }

    &_show &__menu {
        opacity: 1;
    }

    &__trigger {
        @include size(24px);
        cursor: pointer;

        &:hover ~ .tooltip__menu {
            opacity: 1;
        }
    }

    &__help-icon {
        @include size(100%);
        color: var(--black);
    }
}
