@mixin reset-list {
  margin: 0;
  padding: 0; 
  list-style: none;
}

@mixin reset-link {
  margin: 0;
  padding: 0; 
  text-decoration: none;
}

@mixin size($width, $height: $width) {
  width: $width;
  height: $height;
}

@mixin text ($size: false, $lh: false, $weight: false, $color: false) {
  @if $size { font-size: $size; }
  @if $lh { line-height: $lh; }
  @if $weight { font-weight: $weight; }
  @if $color { color: $color; }
}

@mixin font ($font: 'Inter') {
  font-family: $font, sans-serif;
}

@mixin position ($top: false, $left: false, $bottom: false, $right: false) { 
  @if $top { top: $top; }
  @if $left { left: $left; }
  @if $bottom { bottom: $bottom; }
  @if $right { right: $right; }
}

@mixin position-center () { 
  bottom: 0;
  left: 50%;
  transform: translate(-50%, 0);
}


// $page-width: 1110px;

// @mixin media-pc {
//     @media screen and (min-width: 1280px) {
//         @content;
//     }
// }

// @mixin media-tab {
//     @media screen and (min-width: 768px) {
//         @content;
//     }
// }

// @mixin media-phone {
//     @media screen and (min-width: 400px) {
//         @content;
//     }
// }


// @mixin respond ($breakpoint) {

//         // $breakpoint is simply a variable that can have several values

//         @if $breakpoint==tablet {

//             // here `laptop` is the value of $breakpoint
//             // when call laptop, we mean the following piece of code        

//         @media only screen and (max-width: 600px) {
//           @content;
//         }
//       }

//       @if $breakpoint==mobile {
//         @media only screen and (max-width: 480px) {
//           @content;
//         }
//       }
//     }